In [1]:
import pandas as pd
import numpy as np

In [39]:
# 1. Write a Pandas program to create and display a one-dimensional
# array-like object containing an array of data using Pandas module.

s = pd.Series([1,2,3,4,5,6]) 
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [46]:
# 2. Write a Pandas program to convert a Panda module Series to
# Python list and it's type.

s = pd.Series([1,2,3,4,5,6]) 
print(s)
print(type(s))

list1 = s.tolist()
print(list1)
print(type(list1))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [47]:
# 3. Write a Pandas program to add, subtract, multiple and divide
# two Pandas Series.

s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print("Addition")
print(s1+s2)
print("\nSubstraction")
print(s1-s2)
print("\nMultipication")
print(s1*s2)
print("\nDivision")
print(s1/s2)

Addition
0     3
1     7
2    11
3    15
4    19
dtype: int64

Substraction
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multipication
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [118]:
# 4.Write a Pandas program to compare the elements of the two
# Pandas Series.

s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print("s1")
print(s1,"\n")
print("s2")
print(s2,"\n")
print("Greater than")
print(s1>s2)
print("\nlesser than")
print(s1<s2)
print("\nEqual to")
print(s1==s2)

s1
0     2
1     4
2     6
3     8
4    10
dtype: int64

s2
0    1
1    3
2    5
3    7
4    9
dtype: int64

Greater than
0    True
1    True
2    True
3    True
4    True
dtype: bool

lesser than
0    False
1    False
2    False
3    False
4    False
dtype: bool

Equal to
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [56]:
# 5. Write a Pandas program to convert a dictionary to a Pandas
# series.

dict_1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(dict_1)
print(type(dict_1),"\n")

s = pd.Series(dict_1)
print(s)
print(type(s))

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
<class 'dict'>

a    100
b    200
c    300
d    400
e    800
dtype: int64
<class 'pandas.core.series.Series'>

In [62]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas
# series.

array_1 = np.array([10,20,30,40,50])
print(array_1)
print(type(array_1),"\n")

s = pd.Series(array_1)
print(s)
print(type(s))

[10 20 30 40 50]
<class 'numpy.ndarray'>

0    10
1    20
2    30
3    40
4    50
dtype: int32
<class 'pandas.core.series.Series'>

In [77]:
# 7. Write a Pandas program to change the data type of given a
# column or a Series.

s1 = pd.Series([100,200,"python",300.12,400])
print(s1,"\n")

s2 = pd.to_numeric(s1,errors = 'coerce')
print(s2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [107]:
# 8.Write a Pandas program to convert the first column of a
# DataFrame as a Series.

dict_1 = {'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
df = pd.DataFrame(dict_1)
print(df,"\n")

s = df.iloc[:,0]
print(s)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [95]:
# 9. Write a Pandas program to convert a given Series to an array.
# Sample Output:

s1 = pd.Series([100,200,"python",300.12,400])
print(s1,"\n")

s2 = s1.to_numpy()
print(s2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

[100 200 'python' 300.12 400]

In [38]:
# 10.Write a Pandas program to convert Series of lists to one
# Series.

s1 = pd.Series([['red','green','white'],['red','black'],['yellow']])
print(s1,"\n")

s2 = s1.apply(pd.Series).stack().reset_index(drop = True)
print(s2)

0    [red, green, white]
1           [red, black]
2               [yellow]
dtype: object

0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

In [46]:
# 11.Write a Pandas program to sort a given Series.

s = pd.Series(["100","200","python","300.12","400"])
print(s,"\n")
print(s.sort_values())

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [136]:
# 12. Write a Pandas program to add some data to an existing Series.

s1 = pd.Series([100,200,"python",300.12,400])
print(s1,"\n")
s2 = pd.Series([500,"php"])
print(pd.concat([s1,s2]))

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [149]:
# 13.Write a Pandas program to create a subset of a given series
# based on value and condition.

s= pd.Series(np.arange(11))
print(s,"\n")
print(s.head(6))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [156]:
# 14. Write a Pandas program to change the order of index of a given
# series.

s = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
print(s,"\n")
print(s.reindex(index=['B','A','C','D','E']))

A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [161]:
# 15. Write a Pandas program to create the mean and standard
# deviation of the data of a given Series.

s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s,"\n")
print("mean")
print(s.mean())
print("\nstandard deviation")
print(s.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

mean
4.818181818181818

standard deviation
2.522624895547565

In [175]:
# 16. Write a Pandas program to get the items of a given series not
# present in another given series.

s1 = pd.Series([1,2,3,4,5])
print(s1,"\n")
s2 = pd.Series([2,4,6,8,10])
print(s2,"\n")

print(s1[~s1.isin(s2)])

0    1
1    2
2    3
3    4
4    5
dtype: int64

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
2    3
4    5
dtype: int64

In [43]:
# 17. Write a Pandas program to get the items which are not common
# of two given series.

s1 = pd.Series([1,2,3,4,5])
print(s1,"\n")
s2 = pd.Series([2,4,6,8,10])
print(s2,"\n")
print(s1[~s1.isin(s2)])

0    1
1    2
2    3
3    4
4    5
dtype: int64

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
2    3
4    5
dtype: int64

In [196]:
# 18.Write a Pandas program to compute the minimum, 25th
# percentile, median, 75th, and maximum of a given series.

s = pd.Series(np.arange(21))
print(s,"\n")
print("Minimum")
print(s.min())
print("\n25th Percentile")
print(s.quantile(.25))
print("\nMedian")
print(s.median())
print("\n75th Percentile")
print(s.quantile(.75))
print("\nMaximum")
print(s.max())

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
dtype: int32

Minimum
0

25th Percentile
5.0

Median
10.0

75th Percentile
15.0

Maximum
20

In [2]:
# 19. Write a Pandas program to calculate the frequency counts of
# each unique value of a given series.

s = pd.Series([4,0,7,9,2,8,9,5,2,9,8,1,9,6,0,8,2,0,3,9,0,2,0,1,6,1,3,1,6,1,2,0,2,7,0,9,0,2,0,7])
print(s.value_counts())

0    9
2    7
9    6
1    5
7    3
8    3
6    3
3    2
4    1
5    1
dtype: int64

In [36]:
# 20. Write a Pandas program to display most frequent value in a
# given series and replace everything else as 'Other' in the series.

s = pd.Series([4,0,7,9,2,8,9,5,2,9,8,1,9,6,0,8,2,0,3,9,0,2,0,1,6,1,3,1,6,1,2,0,2,7,0,9,0,2,0,7])
s[~s.isin(s.value_counts().index[:1])] = 'others'
print(s)

0     others
1          0
2     others
3     others
4     others
5     others
6     others
7     others
8     others
9     others
10    others
11    others
12    others
13    others
14         0
15    others
16    others
17         0
18    others
19    others
20         0
21    others
22         0
23    others
24    others
25    others
26    others
27    others
28    others
29    others
30    others
31         0
32    others
33    others
34         0
35    others
36         0
37    others
38         0
39    others
dtype: object

In [9]:
# 21. Write a Pandas program to find the positions of numbers that
# are multiples of 5 of a given series.

s = pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = np.where(s%5 == 0)
print(s2)

(array([4, 9], dtype=int64),)