In [110]:
import pandas as pd

In [111]:
# 1)Read Salaries.csv as a dataframe called sal
missing_values = ["Not provided"]
sal = pd.read_csv("employee_salaries.csv",na_values = missing_values)
print(sal)

            Id           EmployeeName  \
0            1         NATHANIEL FORD
1            2           GARY JIMENEZ
2            3         ALBERT PARDINI
3            4      CHRISTOPHER CHONG
4            5        PATRICK GARDNER
...        ...                    ...
148641  148642  Raphael Marquis Goins
148642  148643      Dominic C Marquez
148643  148644             Kim Brewer
148644  148645           Randy D Winn
148645  148646       Carolyn A Wilson

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148641                                    Museum Guard       0.00
148642                                     Sign Worker       0.00
148643                         Parking Control Officer       0.00
148644                    Stationary Eng, Sewage Plant       0.00
148645                       Human Services Technician       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148641         0.00       0.00       0.0       0.00              0.00  2014
148642         0.00       0.00       0.0       0.00              0.00  2014
148643         0.00       0.00       0.0       0.00              0.00  2014
148644         0.00       0.00       0.0       0.00              0.00  2014
148645         0.00       0.00       0.0       0.00              0.00  2014

        Notes         Agency Status
0         NaN  San Francisco    NaN
1         NaN  San Francisco    NaN
2         NaN  San Francisco    NaN
3         NaN  San Francisco    NaN
4         NaN  San Francisco    NaN
...       ...            ...    ...
148641    NaN  San Francisco     PT
148642    NaN  San Francisco     PT
148643    NaN  San Francisco     PT
148644    NaN  San Francisco     PT
148645    NaN  San Francisco     PT

[148646 rows x 13 columns]

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [112]:
# 2)Check the head of the DataFrame

print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

In [113]:
# 3)Use the .info() method to find out how many entries there are.

print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148646 entries, 0 to 148645
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148646 non-null  int64
 1   EmployeeName      148646 non-null  object
 2   JobTitle          148646 non-null  object
 3   BasePay           148041 non-null  float64
 4   OvertimePay       148646 non-null  float64
 5   OtherPay          148646 non-null  float64
 6   Benefits          112487 non-null  float64
 7   TotalPay          148646 non-null  float64
 8   TotalPayBenefits  148646 non-null  float64
 9   Year              148646 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148646 non-null  object
 12  Status            38115 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB
None

In [114]:
# 4)What is the average BasePay ?

print(sal["BasePay"].mean(skipna=True))

66327.24092374934

In [115]:
# 5)What is the highest amount of OvertimePay in the dataset ?

print(sal["OvertimePay"].max())

245131.88

In [116]:
# 6)What is the job title of JOSEPH DRISCOLL ? 

print(sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [117]:
# 7)How much does JOSEPH DRISCOLL make

print(sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"])

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [118]:
# 8)What is the name of highest paid person 

max_salary = sal["TotalPayBenefits"].max()
print(sal[sal["TotalPayBenefits"]==max_salary]["EmployeeName"])

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [119]:
# 9)What is the name of lowest paid person 

min_salary = sal["TotalPayBenefits"].min()
print(sal[sal["TotalPayBenefits"]==min_salary]["EmployeeName"])

110530    David P Kucia
Name: EmployeeName, dtype: object

In [120]:
# 10) What was the average (mean) BasePay of all employees per year? (2011-2014)

print(sal.groupby(["Year"])["BasePay"].mean())

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66571.407565
Name: BasePay, dtype: float64

In [121]:
# 11)How many unique job titles are there?

print(sal["JobTitle"].nunique())

2158

In [122]:
# 12)What are the top 5 most common jobs?   

print(sal["JobTitle"].value_counts().head())

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [123]:
# 13)How many Job Titles were represented by only one person in 2013?

print((sal[sal["Year"]==2013]["JobTitle"].value_counts()==1).sum())

202

In [124]:
# 14)How many people have the word Chief in their job title? 

def chief_string(title):
    if "chief" in title.lower():
        return True
print((sal["JobTitle"].apply(lambda x:chief_string(x))).sum())

627

In [128]:
# 15)Bonus: Is there a correlation between length of the Job Title string and Salary?

# sal["Job_Title"] = sal["JobTitle"].apply(lambda x:len(x))
# sal[["Job_Title","TotalPayBenefits"]].corr()

   JobTitle
0        46
1        31
2        31
3        36
4        44
5        25
6        34
7        30
8        34
9        38
   TotalPayBenefits
0         567595.43
1         538909.28
2         335279.91
3         332343.61
4         326373.19
5         316285.74
6         315981.05
7         307899.46
8         303427.55
9         302377.73

AttributeError: 'list' object has no attribute 'corr'